<div class="background">

  <div *ngIf="isLoading">
    <div class="loader-background">
      <app-loading-page [isLoading]="isLoading"></app-loading-page>
    </div>
  </div>

  <div class="navigation">
    <a class="button" (click)="logout()" href="login">
      <i class="material-icons">exit_to_app</i>
      <div class="logout">LOGOUT</div>
    </a>
  </div>
  <div class="wrapper row row-centered">
    <div class="container-wrapper">
      <app-channel-info [channel]="channel"></app-channel-info>
      <div class="col-12 video-list">
        <hr>
        <br>
        <div class="row font-style">
          <div class="col-6">
            <div class="mb-2">
              <label for="searchInput" class="sr-only">Search for video</label>
              <input #myInput type="text" class="form-control" id="searchInput" placeholder="Search for video..." (input)="filterVideoList(myInput.value)">
            </div>
          </div>
          <div class="col-6 form-inline mb-2">
            <label for="playlistSelect" class="mr-2">Choose Your Playlist :</label>
            <select id="playlistSelect" class="form-control" (change)="getPlaylist($event.target.value)">
              <option selected value="0">Uploads</option>
              <option value="1">Likes</option>
              <option value="2">Favorites</option>
              <option value="3">Watch History</option>
              <option value="4">Watch Later</option>
            </select>
          </div>
        </div>
        <hr>
        <br>
        <div *ngFor="let video of filtratedVideos" class="mb-3">
          <app-video-details [video]="video"></app-video-details>
        </div>
      </div>
    </div>
  </div>
</div>
