/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "app/util/bootstrap-social.css";
canvas { display: block; position: absolute; margin-top: 0; margin-bottom: 0; }

html, body {
  height:100%;
}
