<div class="row wrapper vertical-align">
  <div class="col-md-4">
    <div class="row">
      <div class="col-12">
        <img src="{{channel?.thumbnails['medium'].url || channel?.thumbnails['default'].url || '../../../assets/image/default.png'}}" class="rounded-circle img-thumbnail" alt="profile">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="content font-style">
      <div class="row">
        <div class="col-6">
          <p>Subscribers: </p>
        </div>
        <div class="col-4">
          <p>{{channel?.subscribers || 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Videos: </p>
        </div>
        <div class="col-4">
          <p>{{channel?.videos || 0}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Views: </p>
        </div>
        <div class="col-4">
          <p>{{channel?.views || 0}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="font-style">
      <p class="title">{{channel?.name || "You don't have a name.. buuuh"}}</p>
    </div>
  </div>
</div>
