<div class="particle-background">
  <particles [params]="myParams"></particles>
  <div class="form">
    <div class="wrapper">
      <div class="container-wrapper">
        <div>
          <label class="label-title">Login</label>
          <br>
          <label class="label-subtitle ">Please Login With Your Google Account To Proceed!</label>
          <br>
          <hr>
          <button class="btn btn-block btn-social btn-lg btn-google" (click)="login()">
            <span class="fab fa-google"></span> Sign in with Google
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
