<div class="row d-flex justify-content-center background">
  <div class="col-4 my-auto">
    <div class="row text-center container-wrapper">
      <div class="col">
        <label class="label-title">Login</label>
        <br>
        <label class="label-subtitle ">Please Login With Your Google Account To Proceed!</label>
        <br>
        <hr>
        <button class="btn btn-block btn-bubble" (click)="login()">
          <span class="fab fa-google"></span> Sign in with Google
        </button>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2019 Personal Project - YouTube Integration API</p>
      <ul class="list-inline">
        <li>
          Vector Background made by <a href="https://br.freepik.com/fotos-vetores-gratis/fundo" title="starline">starline</a> from <a
          href="https://br.freepik.com" title="Vector Background">br.freepik.com</a>
        </li>
        <li>
          Cute Background made by <a href="https://wallpaperplay.com/board/cute-chibi-wallpapers" title="Cute Chibi wallpapers">Cute Chibi wallpapers</a> from <a
          href="https://wallpaperplay.com/" title="Wallpaperplay">Wallpaperplay</a>
        </li>
        <li>
          Default Pikachu Image From <a href="https://www.taringa.net/+imagenes/kawaii-anime-chibi-neko_ganvr" title="taringa">www.taringa.net</a>
        </li>
      </ul>
      <p class="mb-1"> This project is not licenced by Google and is not part of their products!</p>
    </footer>
  </div>
</div>
