<div class="row loading-div">
  <div class="col-12 my-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-4 text-center my-auto">
        <img height="400px" src="../../../assets/image/default.png" alt="cute pikachu" class="mt-5 mb-5">
        <br>
        <div>
          <h1 class="dot one">.</h1>
          <h1 class="dot two">.</h1>
          <h1 class="dot three">.</h1>
          <h1 class="dot four">.</h1>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-8 text-center my-auto">
        <h2>{{this.message}}</h2>
      </div>
    </div>
    <br>
  </div>
</div>
